.board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    width: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .game-info {
    margin-left: 20px;
  }

  button.submit-button {
    background: yellow;
    padding: 10px;
    color: black;
    border: 1px solid #cece00;
}

button, .square {
  cursor: pointer;
}